<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/detail.css">
</head>

<body>
    <div class="container">
        {{>header}}
        <div class="detail">
            <div class="left">
                <div class="anime-image">
                    <img src="{{poster}}" alt="image"
                        style="border-radius: 5px;">
                </div>
                <div class="anime-info">
                    <div class="anime-title">
                        <h3>{{name}}</h3>
                    </div>
                    <div class="info-row rating"><i class="fa fa-star"></i>{{rate}}</div>
                    <div class="info-row">
                        <h4>Yayın Yeri:</h4> TV
                    </div>
                    <div class="info-row">
                        <h4>Kategori:</h4> Action, Military, Adventure, Comedy, Drama, Magic, Fantasy, Shounen
                    </div>
                    <div class="info-row">
                        <h4>Sıralama:</h4> #1
                    </div>
                    <div class="info-row">
                        <h4>Bölüm Sayısı:</h4> {{episodes}}
                    </div>
                    <div class="info-row">
                        <h4>Süre:</h4> 24 dakika
                    </div>
                    <div class="info-row">
                        <h4>Yayın Tarihi: </h4>2009 - 2010
                    </div>
                    <div class="synopsis">
                        {{synopsis}}
                        {{!-- <p>"In order for something to be obtained, something of equal value must be lost."</p>

                        <p>Alchemy is bound by this Law of Equivalent Exchange—something the young brothers Edward and
                            Alphonse
                            Elric only realize after attempting human transmutation: the one forbidden act of alchemy.
                            They pay
                            a
                            terrible price for their transgression—Edward loses his left leg, Alphonse his physical
                            body. It is
                            only
                            by the desperate sacrifice of Edward's right arm that he is able to affix Alphonse's soul to
                            a suit
                            of
                            armor. Devastated and alone, it is the hope that they would both eventually return to their
                            original
                            bodies that gives Edward the inspiration to obtain metal limbs called "automail" and become
                            a state
                            alchemist, the Fullmetal Alchemist.</p>

                        <p>Three years of searching later, the brothers seek the Philosopher's Stone, a mythical relic
                            that
                            allows
                            an alchemist to overcome the Law of Equivalent Exchange. Even with military allies Colonel
                            Roy
                            Mustang,
                            Lieutenant Riza Hawkeye, and Lieutenant Colonel Maes Hughes on their side, the brothers find
                            themselves
                            caught up in a nationwide conspiracy that leads them not only to the true nature of the
                            elusive
                            Philosopher's Stone, but their country's murky history as well. In between finding a serial
                            killer
                            and
                            racing against time, Edward and Alphonse must ask themselves if what they are doing will
                            make them
                            human
                            again... or take away their humanity.</p> --}}
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="related-title">
                    <h3>Benzer Animeler</h3>
                </div>
                <div class="related-anime">
                    <img src="https://cdn.myanimelist.net/images/anime/11/33657.jpg">
                    <span class="related-name">Hunter x Hunter (2011)</span>
                </div>
                <div class="related-anime">
                    <img src="https://cdn.myanimelist.net/images/anime/10/47347.jpg">
                    <span class="related-name">Shingeki no Kyojin</span>
                </div>
                <div class="related-anime">
                    <img src="https://cdn.myanimelist.net/images/anime/11/33657.jpg">
                    <span class="related-name">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
                        id!</span>
                </div>
                <div class="related-anime">
                    <img src="https://cdn.myanimelist.net/images/anime/5/50331.jpg">
                    <div class="related-name">Code Geass: Hangyaku no Lelouch</div>
                </div>
                <div class="related-anime">
                    <img src="https://cdn.myanimelist.net/images/anime/10/75195.jpg">
                    <div class="related-name"> Ao no Exorcist</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>