<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/detail.css">
</head>

<body>
    <div class="container">
        {{>header}}
        <div class="detail">
            <div class="left">
                <div class="anime-image">
                    <img src="{{anime.poster}}" alt="image"
                        style="border-radius: 5px;">
                </div>
                <div class="anime-info">
                    <div class="anime-title">
                        <h3>{{anime.name}}</h3>
                    </div>
                    <div class="info-row rating"><i class="fa fa-star"></i>{{anime.rate}}</div>
                    <div class="info-row">
                        <h4>Yayın Yeri:</h4> TV
                    </div>
                    <div class="info-row">
                        
                        <h4>Kategori:</h4> {{#each anime.genres}}{{this.name}} {{/each}}
                    </div>
                    <div class="info-row">
                        <h4>Sıralama:</h4> #1
                    </div>
                    <div class="info-row">
                        <h4>Bölüm Sayısı:</h4> {{anime.episodes}}
                    </div>
                    <div class="info-row">
                        <h4>Süre:</h4> 24 dakika
                    </div>
                    <div class="info-row">
                        <h4>Yayın Tarihi: </h4>{{anime.year}}
                    </div>
                    <div class="synopsis">
                        {{anime.synopsis}}
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="related-title">
                    <h3>Benzer Animeler</h3>
                </div>
                <div class="related-anime">
                    <img src="https://cdn.myanimelist.net/images/anime/11/33657.jpg">
                    <span class="related-name">Hunter x Hunter (2011)</span>
                </div>
                <div class="related-anime">
                    <img src="https://cdn.myanimelist.net/images/anime/10/47347.jpg">
                    <span class="related-name">Shingeki no Kyojin</span>
                </div>
                <div class="related-anime">
                    <img src="https://cdn.myanimelist.net/images/anime/11/33657.jpg">
                    <span class="related-name">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
                        id!</span>
                </div>
                <div class="related-anime">
                    <img src="https://cdn.myanimelist.net/images/anime/5/50331.jpg">
                    <div class="related-name">Code Geass: Hangyaku no Lelouch</div>
                </div>
                <div class="related-anime">
                    <img src="https://cdn.myanimelist.net/images/anime/10/75195.jpg">
                    <div class="related-name"> Ao no Exorcist</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>